body {
    color: black;
    background-color: rgb(202, 230, 238);
  }

div {
    color: black;
    background-color: rgb(202, 230, 238);
  }
  
  p {
    color: black;
  }

  h2 {
    color: rgb(53, 3, 58);
  }

  h1 {
    color: rgb(53, 3, 58);
  }

  img {
    height: auto;
    width: 300px;
  }